.back{
    background-color: rgb(14, 150, 126);
    background-image: linear-gradient(to right, rgb(6, 82, 62), rgb(19, 42, 71));
    margin: auto;
}
.back h1{
    font-size: 80px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 100px 10px 10px 10px;
    font-family: "Roboto Slab", serif;
}
.back h3{
    font-size: 35px;
    text-align: center;
    color: white;
    margin: auto;
    padding: 10px 10px 100px 10px;
    font-family: "Roboto Slab", serif;
}
.choose button{
    font-size: 25px;
    background-color: orange;
    color: white;
    margin: 40px 700px;
    padding: 15px;
    border-radius: 30px;
    font-family: "Roboto Slab", serif;
}
.choose button:hover{
    background-color: rgb(15, 15, 61);
}
.choose p{
    font-size: 30px;
    text-align: left;
}
